/*Downloaded font*/
@font-face {
	font-family: 'distant_galaxyregular';
	src:url('DISTGRG_-webfont.eot');
	src:url('DISTGRG_-webfont.eot?#iefix') format('embedded-opentype'),
		url('DISTGRG_-webfont.woff') format('woff'),
		url('DISTGRG_-webfont.ttf') format('truetype'),
		url('DISTGRG_-webfont.svg#distant_galaxyregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*Body Elements*/

body {
	background: url(../images/background.jpg);
	user-select: none;
}

header {
	background-color:rgba(0, 0, 0, 0.5);
	padding-left: 2em;
	padding-top: 1em;
	padding-bottom: .5em;
	border-bottom: 10px solid #000;
}

.content {
	background-color:rgba(0, 0, 0, 0.5);
	margin-top: 1em;
	border-top: 10px solid #000;
	border-bottom: 10px solid #000;
}

#portraitHolder {
	height: 150px;
}

#battleHolder {
	height: 355px;
}

/* - Footer Elements - */

	footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color:rgba(0, 0, 0, 0.5);
		border-top: 10px solid #000;
	}

/* - Image Elements - */

#portraitHolder h2 {
	float: left;
	margin-right: 100px;
}
#portraitHolder img {
	clear: both;
	display: inline-block;
	margin: 10px 10px;
	border: solid 10px #000;
/*	box-shadow: 0 0 20px #FF0000, 0 0 20px #0000FF;*/
	border-radius: 50%;
}

#battleHolder h2 {
	float: left;
	margin-right: 100px;
}

#battleHolder img {
	display: inline-block;
	margin: 10px 20px;
	border: solid 10px #000;
	box-shadow: 0 0 20px #FF0000, 0 0 20px #0000FF;
	border-radius: 50%;
}

.battlePortrait {
	display: none;
}

#battleStats {
	float: left;
	padding-top: 10px;
	padding-left: 50px;
	margin-right: 100px;
}

#attackBtn:hover {
	box-shadow: 0 0 50px #FF0000, 0 0 50px #0000FF;
}

#attackBtn:active {
	position: relative;
	top: -0.25em;
}

.spacer {
	min-width: 100px;
}

/*Font Elements*/

h1 {
	font-family: "distant_galaxyregular";
	font-size: 8em;
	color: #000;
	text-shadow: 0 0 50px #FF0000, 0 0 50px #0000FF;
}

h2 {
	font-family: "distant_galaxyregular";
	font-size: 4em;
	color: #ffe8e8;
	text-shadow: 0 0 50px #FF0000, 0 0 50px #0000FF;
}

h3 {
	
	font-family: "distant_galaxyregular";
	font-size: 2em;
	color: #ffe8e8;
	text-shadow: 0 0 50px #FF0000, 0 0 50px #0000FF;
	margin: .5em;
}

#attackBtn h3 {
	width: 513px;
}

h6 {
	font-family: "distant_galaxyregular";
	font-size: 1em;
	color: #ffe8e8;
	text-shadow: 0 0 50px #FF0000, 0 0 50px #0000FF;
	padding-left: 10px;
}

a {
	text-decoration: none;
	color: #ffe8e8;
}

/* - Attack button - */

#attackBtn {
	border: solid 10px #ffe8e8;
	box-shadow: 0 0 25px #FF0000, 0 0 25px #0000FF;
	border-radius: 20px;
}

/* - Modal Elements - */

.modal {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	padding-top: 1%;
	width: 100%;
	height: 100%;
	overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8)
}

.modalContent {
	background: url(../images/sidiousModal.jpg);
	margin: 0 auto;
	border: 5px solid #ffe8e8;
	border-radius: 15px;
	height: 700px;
	width: 1000px;
	text-align: center;
	box-shadow: 0 0 50px #FF0000, 0 0 50px #0000FF;
}

.close {
	color: #aaaaaa;
	float: right;
	margin-top: .25em;
	margin-right: .5em;
	font-size: 4em;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #FFF;
	text-decoration: none;
	cursor: pointer;
}

#introVid {
	box-shadow: 0 0 50px #FF0000, 0 0 50px #0000FF;
}

#spacer {
	height: 200px;
}

#modalVictory {
	background: url(../images/winBackground.jpg);
}

#modalVictory img {
	box-shadow: 0 0 50px #FF0000, 0 0 50px #0000FF;
}

/* - Media Queries - */

@media only screen and (min-width: 1920px) {
	html {
		width: 1920px;
		margin: auto;
	}

	body {
		background-color: #000;
		background-repeat: no-repeat;
		margin: 0 auto;
	}
}